:root {
    --outline: 4px dashed red;
    --outline-offset: 2px;
}


button:not([aria-label]):has(> svg:only-child),
html:not([lang=ru]),
body:has(:not(h1)),
button:not([type]),
img:not([alt]),
img:not([width]),
img:not([height]),
time:not([date-time]) {
    outline: var(--outline);
    outline-offset: var(--outline-offset);
}

/*
javascript:(function()%7Bconst ct%3Ddocument.createElement(%27link%27)%3bct.rel%3D%27stylesheet%27%3Bct.href%3D%27https://ai36.github.io/debug.css%27%3Bct.classList.add(%27ct%27)%3Bdocument.head.appendChild(ct)%3B%7D())%3B%3B
*/